// THEMES
$lightestblue: #adceff;
$lighterblue: #71aaff;
$lightblue: #3888ff;
$blue: #06F;
$darkblue: #004dc1;
$darkerblue: #003688;
$darkestblue: #00255c;
$lightyellow: #ffe362;
$yellow: #ffd71e;
$darkyellow: #fdba00;
$lightestgray: #E9E9E9;
$lightergray: #BBB;
$lightgray: #999;
$gray: #777;
$darkgray: #555;
$darkergray: #333;
$darkestgray: #111;
$red: #F00;



// PLACEHOLDER
%nospace {
	padding: 0px !important;
	margin: 0px auto !important;
}



// MIXINS
@mixin clearspace() {
	padding: 0px;
	margin: 0px auto;
}
@mixin transition($duration: 350ms) {
	transition: all $duration ease;
	-o-transition: all $duration ease;
	-ms-transition: all $duration ease;
	-moz-transition: all $duration ease;
	-webkit-transition: all $duration ease;
}
@mixin shadow($depth: 0 0 5px 5px, $alpha: 0.25) {
	box-shadow: $depth rgba(#000, $alpha);
	-o-box-shadow: $depth rgba(#000, $alpha);
	-ms-box-shadow: $depth rgba(#000, $alpha);
	-moz-box-shadow: $depth rgba(#000, $alpha);
	-webkit-box-shadow: $depth rgba(#000, $alpha);
}
@mixin textshadow($depth: 2px 2px, $alpha: 0.25) {
	text-shadow: $depth rgba(#000, $alpha);
	-o-text-shadow: $depth rgba(#000, $alpha);
	-ms-text-shadow: $depth rgba(#000, $alpha);
	-moz-text-shadow: $depth rgba(#000, $alpha);
	-webkit-text-shadow: $depth rgba(#000, $alpha);
}
@mixin round($radius: 5px) {
	border-radius: $radius;
	-o-border-radius: $radius;
	-ms-border-radius: $radius;
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
}